<!DOCTYPE html>
<html>
    <head>
        <title>Season 3</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/navigation-bar.css' />
        <link rel='stylesheet' href='/stylesheets/episodes.css' />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body style="background-color: black">
        <% include ../templates/navigation-bar.ejs %>
        <div id="theCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom: 0;padding-bottom: 0">

            <div class="carousel-inner" role="listbox">

                <% episodesList.forEach(function(episode){ %>
                    <% if(episode.number == 1) {%>
                        <div class="item active">
                    <%} else {%>
                        <div class="item">
                    <% }%>
                    <div class="carousel-slide" style="background-image: url('..<%= episode.imgUrl%>.jpg')">
                        <div class="carousel-caption">
                            <a href="/episodes/season3/e<%= episode.number %>" class="episode-link">
                                <h2><%= season.name%>, Episode <%= episode.number%></h2>
                                <h1><%= episode.title %></h1>
                            </a>
                        </div>
                    </div>
                    </div>
                <% }); %>
            </div>

            <a class="left carousel-control" href="#theCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>

            <a class="right carousel-control" href="#theCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right "></span>
            </a>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
