<!DOCTYPE html>
<html>
<head>
    <title>Season 3</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/navigation-bar.css' />
    <link rel='stylesheet' href='/stylesheets/episodes.css' />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style="background-color: black">
<% include ../templates/navigation-bar.ejs %>
<div class="container body-content-container">

    <h1><%= season.name%></h1>

    <p class="bold">Number of episodes: <span class="description"><%= season.numberOfEpisodes%></span></p>
    <p class="bold">Season Premiere Date: <span class="description"><%= season.premiereDate%></span></p>
    <p class="bold">Season Finale Date: <span class="description"><%= season.finaleDate%></span></p>
    <h2>Description</h2>
    <p class="description"><%= season.description%></p>
    <h2>Plot</h2>
    <p class="description"><%= season.plot%></p>

    <h2>Episodes</h2>

    <% episodesList.forEach(function(episode){ %>
    <div class="episode-container">
        <img src="/images/Evelyn Poole.png" alt="Episode Image" class="episode-image">
        <p class="episode-description">Episode Number: <%= episode.number %></p>
        <p class="episode-description">Title: <%= episode.title %></p>
        <p class="episode-description">Written By: <%= episode.writtenBy %></p>
        <p class="episode-description">Directed By: <%= episode.directedBy %></p>
        <p class="episode-description">Original Airing Date: <%= episode.airingDate %></p>
        <p class="episode-description">Premiere US Viewers: <%= episode.usViewers %></p>
        <p class="episode-description">Plot: <%= episode.plot %></p>
    </div>
    <% }); %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</div>
</body>
</html>
